body {
    padding: 0;
    margin: 0;
}

// Home

.home-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@-webkit-keyframes anim {
    to { background-position: -119200px; }
}

.home {

    header {
        @include pad;
        height: 100vh;
        text-align: center;
        position: relative;
        video, section {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        video {
            z-index: -15;
        }
        section {
            z-index: -5;
            h1 {
                font-weight: 200;
                font-size: 3em;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 1em;
                letter-spacing: 0.2em;
            }
            .locations {
                letter-spacing: 0.2em;
                font-weight: 300;
            }
        }
    }

    .tagline {
        background: rgba(240, 240, 240, 0.5);
        .container {
            @include outer-container;
            padding: 5em 0;
            section {
                @include span-columns(6);
                @include shift(3);
                @include pad;
                background: white;
                text-align: center;
                position: relative;
                h2 {
                  font-size: 1.5em;
                  margin-bottom: 0.5em;
                }
            }
        }
    }

    .about {
        background: white url(../images/stanford-gps-mooc.png) no-repeat right 25em;
        background-size: 900px;
        padding: 5em 0 10em 0;
        .container {
            @include outer-container;
            section {
                height: 20em;
                margin-bottom: 3em;
                .text {
                    @include span-columns(6);
                    @include pad;
                    padding-top: 3em;
                    h3 {
                        margin-bottom: 0.5em;
                    }
                }
                &.team {
                    background: url(../images/companies.png) no-repeat left bottom;
                    background-size: 500px;
                    .text {
                        @include shift(6);
                    }
                }
                &.specialty {
                    ul {
                        list-style: square;
                        padding-left: 3em;
                    }
                }
            }
        }
    }

    .contact {
        position: relative;
        height: 50em;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .container {
            @include outer-container;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            h2 {
                margin-bottom: 0.5em;
                u {
                    text-decoration: none;
                    border-bottom: 0.1em solid;
                    padding: 0 0.1em 0.1em 0.1em;
                    margin: 0 -0.1em;
                }
            }
            p {
                margin-bottom: 1.5em;
            }
        }
    }
}
