/* Header (Left part) */
#header {
  height: 100%;
  left: 0;
  padding: 4em 3em;
  position: fixed;
  text-align: left;
  top: 0;
  width: 35%;
  border-right: 1px solid $concrete;

  h1 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
  }

  h2, h3, h4, h5, h6, p {
    position: relative;
  }
}

/* Footer */
#footer {
  bottom: 0;
  left: 0;
  padding: 4em 3em;
  position: fixed;
  text-align: left;
  width: $left-part-width;
}

/* Main part */
#main {
  margin-left: $left-part-width;
  padding: 5em 4em 4em 4em;
  width: calc(100% - #{$left-part-width});
  background: rgba($white, 1);
  padding-right: 10em;

  > section {
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;

    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

/* Scroll Arrows */
.scroll-top {
  @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
  position: fixed;
  right: 0;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 48px;
  z-index: 5;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $torch-red;
    text-decoration: none;
    outline: none;
    border: none;
    padding-top: 10px;

    &:hover {
      color: darken($torch-red, 10%);
    }
  }

  &:hover {
    margin-bottom: 10px;
  }

  .arrows-bottom {
    @include rotate(225deg);
    margin: 0 0 3px 4px;
  }
}

.arrows-bottom {
  display: block;
  @include rotate(45deg);
  border-right: 2px solid $torch-red;
  border-bottom: 2px solid $torch-red;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
