body {
    padding: 0;
    margin: 0;
}

// Home

.home-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.home {
    .content {
        border-top: 1px $light-gray solid;
        background: rgba(255, 255, 255, 0.9);
    }

    header {
        @include pad;
        height: 100vh;
        text-align: center;
        position: relative;
        section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                font-weight: 200;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 1em;
                letter-spacing: 0.2em;
            }
            .locations {
                color: $medium-gray;
            }
        }
    }

    .tagline {
        @include outer-container;
        margin-top: -2em;
        section {
            @include span-columns(6);
            @include shift(3);
            @include pad;
            background: white;
            border: 1px $medium-gray solid;
            text-align: center;
            position: relative;
            h2 {
              font-size: 1.5em;
              margin-bottom: 0.5em;
            }
        }
    }

    .about {
        background: no-repeat right bottom;
        background-image: url(../images/stanford-gps-mooc.png);
        background-size: 60%;
        .container {
            @include outer-container;
            margin-top: 10em;
            padding: 5em 0;
            section {
                height: 20em;
                margin-bottom: 5em;
                .text {
                    @include span-columns(6);
                    @include pad;
                    padding-top: 3em;
                    h3 {
                        margin-bottom: 0.5em;
                    }
                }
                &.team {
                    background: url(../images/companies.png) no-repeat left bottom;
                    background-size: 50%;
                    .text {
                        @include shift(6);
                    }
                }
                &.specialty {
                    ul {
                        list-style: square;
                        padding-left: 3em;
                    }
                }
            }
        }
    }

    .contact {
        position: relative;
        height: 40em;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .container {
            @include outer-container;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            h2 {
                margin-bottom: 0.5em;
                u {
                    text-decoration: none;
                    border-bottom: 0.1em solid;
                    padding: 0 0.1em 0.1em 0.1em;
                    margin: 0 -0.1em;
                }
            }
            p {
                margin-bottom: 1.5em;
            }
        }
    }
}
