body {
    padding: 0;
    margin: 0;
}

// Home

.home-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.home {
    .content {
        border-top: 1px $light-gray solid;
        background: rgba(255, 255, 255, 0.9);
    }

    header {
        @include pad;
        height: 100vh;
        text-align: center;
        position: relative;
        section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                font-family: Muli, sans-serif;
                font-weight: 200;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 1em;
                letter-spacing: 0.2em;
            }
            .locations {
                color: $medium-gray;
            }
        }
    }

    .tagline {
        @include outer-container;
        margin-top: -2em;
        section {
            @include span-columns(4);
            @include shift(4);
            @include pad;
            background: white;
            border: 1px $medium-gray solid;
            font-size: 0.8em;
            text-align: center;
        }
    }

    .about {
        @include outer-container;
        margin-top: 5em;
        section {
            background: no-repeat right bottom;
            background-size: 50%;
            height: 20em;
            margin-bottom: 1em;
            .text {
                @include span-columns(6);
                @include pad;
                padding-top: 3em;
                h3 {
                    margin-bottom: 0.5em;
                }
            }
            &:nth-child(odd) {
                background-position: left bottom;
                .text {
                    @include shift(6);
                }
            }
            &.team { background-image: url(../images/companies.png); }
            &.projects { background-image: url(../images/stanford-gps-mooc.png); }
            &.specialty {
                ul {
                    list-style: square;
                    padding-left: 3em;
                }
            }
        }
    }

    .contact {
        @include outer-container;
        margin-top: 5em;
        padding-bottom: 10em;
        .container {
            width: 50%;
            padding-bottom: 50%;
            border: 1px $medium-gray solid;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            section {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                text-align: center;
                h2 {
                    margin-bottom: 0.5em;
                }
                p {
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    .join {
        background: $dark-gray;
        color: white;
        text-align: center;
        padding: 5em 0;
        .container {
            @include outer-container;
            @include pad;
            section {
                @include span-columns(8);
                @include shift(2);
                h2 {
                    margin-bottom: 0.5em;
                }
                .form {
                    margin-top: 3em;
                    .details > div {
                        @include span-columns(4 of 8);
                    }
                }
            }
        }
    }

    .blog {
        background: $light-gray;
        padding: {
            top: 5em;
            bottom: 5em;
        }
        .container {
            @include outer-container;
            background: white;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
            section {
                @include span-columns(8);
                @include shift(2);
                margin: {
                    top: 5em;
                    bottom: 5em;
                }
                h2 {
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}
