/* Header (Left part) */
#header {
  height: 100%;
  left: 0;
  padding: 2.85em 2.6em;
  position: fixed;
  text-align: left;
  top: 0;
  width: $left-part-width;
  min-width: $left-part-min-width;
  border-right: 1px solid $concrete;

  h1 {
    font-weight: 800;
    line-height: 1;
    position: relative;
  }

  h2, h3, h4, h5, h6, p {
    position: relative;
  }
}

/* Footer */
#footer {
  bottom: 0;
  left: 0;
  padding: 2.85em 2.6em 6.9em 2.6em;
  position: fixed;
  text-align: left;
  width: $left-part-width;
  min-width: $left-part-min-width;
}

/* Main part */
#main {
  margin-left: $left-part-width;
  padding: 2.85em 0;
  width: calc(100% - #{$left-part-width});
  background: rgba($white, 1);

  > section {
    margin: 4em 0 0 5.8em;
    padding: 4em 0 0 0;

    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

/* About section */
#about {
  ul > li {
    margin-right: 4.3em;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* SVI Team section */
#main > #svi-team {
  background-color: $picton-blue;
  margin: 2.85em 0 0 0;
  padding: 3.57em 5.8em;

  header > h3, p {
    color: $white;
  }

  ul {
    margin-top: 3.9em;
    > li {
      margin-right: 1.8em;

      &:first-child {
        margin-right: .4em;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .svi-map-img {
    height: 8em;
  }
}

/* Contacts section */
#contact {

  #work-inquires {
    margin-top: 2.38em;

    strong > a {
      display: block;
      line-height: 1em;
    }
  }

  #copyright {
    margin-top: 2.38em;

    small > span {
      display: block;
    }
  }
}

/* Scroll Arrows */
/* Uncomment to get "Scroll to top" functionality
.scroll-top {
  @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
  position: fixed;
  right: 0;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 48px;
  z-index: 5;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $torch-red;
    text-decoration: none;
    outline: none;
    border: none;
    padding-top: 10px;

    &:hover {
      color: darken($torch-red, 10%);
    }
  }

  &:hover {
    margin-bottom: 10px;
  }

  .arrows-bottom {
    @include rotate(225deg);
    margin: 0 0 3px 4px;
  }
}

.arrows-bottom {
  display: block;
  @include rotate(45deg);
  border-right: 2px solid $torch-red;
  border-bottom: 2px solid $torch-red;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
*/