/* Media Queries */
/* Large Devices, Wide Screens */
@include desktop {
  #header {
    h1 {
      font-size: 2.5em;
    }
  }

  #main {
    padding-right: 4em;
  }
}

/* Notebook devices */
@include notebook {
  #header {
    // padding: 1.5em 3em 3em;
  }

  #footer {
    // padding: 0 3em 1.5em 0;
  }
}

/* Medium Devices, Desktops */
@include medium {
  #header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    border-right: none;

    h1 {
      font-size: 1.75em;

      br {
        display: inline;
      }
    }
  }

  #footer {
    bottom: auto;
    left: auto;
    position: relative;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    background: $shark;
  }

  #main {
    margin: 0;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
  }

  textarea {
    margin-top: 0 !important;
  }
}

/* Small Devices, Tablets */
@include tablet {
  #header {
    border-right: none;
  }

  #main {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* Extra Small Devices, Phones */
@include phone {
  #header {
    padding: 4em 2em;
    border-right: none;
  }

  #main {
    padding: 4em 2em;
  }

  .arrows-part, .scroll-top {
    width: 30px;
  }
}

/* Only for tablet in landscape mode */
@include landscape-tablet {
}

/* Only for phone in landscape mode */
@include landscape-phone {
}
