/* Media Queries */
/* Large Devices, Wide Screens */
@include desktop {
  #main {
    padding-right: 4em;
  }
}

/* Notebook devices */
@include notebook {
  #header {
    width: $left-part-min-width;
  }

  #main {
    width: calc(100% - #{$left-part-min-width});
    margin-left: $left-part-min-width;
    padding: 2.85em 2.6em;
  }

  #footer {
    width: $left-part-min-width;
  }
}

/* Medium Devices */
@include medium {
  #header {
    width: $left-part-half-width;
    max-width: $left-part-min-width;
    min-width: 0;
  }

  #main {
    width: $left-part-half-width;
    margin-left: $left-part-half-width;
    padding: 2.85em 2.6em;
  }

  #footer {
    width: $left-part-half-width;
    max-width: $left-part-min-width;
    min-width: 0;
  }
}

/* Small Devices, Tablets */
@include tablet {
  #header {
    background: scroll top left, center center;
    background-size: auto, cover;
    left: auto;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    max-width: 100%;
    padding: 2em 2em;
    border-right: none;

    h1 {
      font-size: 1.75em;

      br {
        display: inline;
      }
    }
  }

  #footer {
    bottom: auto;
    left: auto;
    position: relative;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background: $shark;
  }

  #main {
    margin: 0;
    width: 100%;
    padding: 4em 2em;
  }
}

/* Extra Small Devices, Phones */
@include phone {
  #header {
    padding: 4em 2em;
    border-right: none;
  }

  #main {
    padding: 4em 2em;
  }

  .arrows-part, .scroll-top {
    width: 30px;
  }
}

/* Only for tablet in landscape mode */
@include landscape-tablet {

}

/* Only for phone in landscape mode */
@include landscape-phone {
}
