/* Media Queries */
/* Large Devices, Wide Screens */
@include desktop {
  #about, #contact-us {
    padding: 0 5.8em;
  }

  #about {
    height: 100%;
    margin-bottom: 4.5em;
    > ul {
      position: absolute;
      bottom: 0;
      height: 15.65em;
    }
  }

  #contact-us {
    margin-top: 15.65em;
    height: 15.65em;
  }
}

/* Notebook devices */
@include notebook {
  #header {
    width: $left-part-min-width;
  }

  #main {
    width: calc(100% - #{$left-part-min-width});
    margin-left: $left-part-min-width;
    padding: 3.2em 0;
    > section {
      margin: 4em 0 4em 2.85em;
    }
  }

  #footer {
    width: $left-part-min-width;
  }

  #about {
    ul > li {
      margin-right: 3.3em;
    }
  }

  #main > #svi-team {
    padding: 2.85em;

    .svi-map-img {
      height: 4.5em;
    }
  }
}

/* Medium Devices */
@include medium {
  #header {
    width: $left-part-half-width;
    max-width: 100%;
    min-width: 0;
  }

  #main {
    width: $left-part-half-width;
    margin-left: $left-part-half-width;
    padding: 3.2em 0;
    > section {
      margin: 4em 0 4em 2.85em;
    }
  }

  #footer {
    width: $left-part-half-width;
    max-width: 100%;
    min-width: 0;
  }

  #about {
    ul > li {
      margin-bottom: 4.5em;
      margin-right: 0;
      display: block;
    }
  }

  #main > #svi-team {
    padding: 2.85em;

    ul {
      > li {
        margin-right: .5em;
        &:first-child {
          margin-right: 0;
        }
      }
    }

    .svi-map-img {
      height: 3.5em;
    }
  }

  #main > #contact-us {
    padding-top: 4em;
    #work-inquires > strong {
      font-size: .8em;
    }
  }
}

/* Small Devices, Tablets */
@include tablet {
  #header {
    background: scroll top left, center center;
    background-size: auto, cover;
    left: auto;
    position: relative;
    text-align: left;
    top: auto;
    width: 100%;
    max-width: 100%;
    padding: 4em 2em;
    border-right: none;

    h1 {
      font-size: 2.85em;

      br {
        display: inline;
      }
    }
  }

  #footer {
    bottom: auto;
    left: auto;
    position: relative;
    padding: 2em 2em;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }

  #main {
    margin: 0;
    padding: 2em 0;
    width: 100%;
    > section {
      margin: 0;
      padding: 0 2em;
    }
  }

  #about {
    ul > li {
      width: 45%;
      vertical-align: top;
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  #main > #svi-team {
    margin: 0;
    padding: 2em;

    ul {
      > li {
        margin-right: 1em;
      }
    }

    .svi-map-img {
      height: 4.5em;
    }
  }
}

/* Extra Small Devices, Phones */
@include phone {
  #header {
    padding: 4em 2em;
    border-right: none;

    h2 {
      &:after {
        content: "Scroll down";
        display: block;
        margin-top: 2.5em;
        font-size: .5em;
        color: $manatee;
      }
    }
  }

  #main {
    padding: 4em 0;
  }

  #main > #svi-team {
    padding: 2em;

    .svi-map-img {
      height: 3.5em;
    }
  }

  //.arrows-part, .scroll-top {
  //  width: 30px;
  //}
}

/* Only for tablet in landscape mode */
@include landscape-tablet {

}

/* Only for phone in landscape mode */
@include landscape-phone {
}
