body {
  background: $white;
  font-family: $font-family;
  // @include font-smoothing;
}

body, html {
  width: 100%;
}

body, input, select, textarea {
  // @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
  color: $nigh-rider;
  font-size: 16pt;
  line-height: 1.75em;
}

a {
  // @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
  cursor: pointer;
  text-decoration: none;
}

strong, b {
  font-weight: $font-weight-bold;
}

p {
  margin: 0 0 2em 0;
  font-size: 0.8em;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  color: $nigh-rider;
  font-weight: $font-weight-bold;
  line-height: 1em;
  margin: 0 0 (2em * 0.5) 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: $font-weight;
}
