<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="home-bg"></div>

    <div class="home">{{ content }}</div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.particleground.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/two.js/0.4.0/two.min.js"></script>
    <script>
      $('.home-bg').particleground({
        dotColor: '#eee',
        lineColor: '#eee'
      });
      var two = new Two({
          width: "100%",
          height: "100%"
        })
        .appendTo($('.bg').get(0));
      var rects = [];
      for (var i = 0; i < 40; i++) {
        var rect = two.makeRectangle(i * 60, 0, 40, 600);
        rect.fill = 'rgb(32, 32, 32)';
        rect.noStroke();
        rects.push(rect);
      }
      two.bind('update', function(t) {
        rects.forEach(function(rect, i) {
          rect.opacity = 1 - 0.5 * Math.sin((t + i) / 10);
          rect.translation.y += 10 * Math.sin((t + i) / 10);
        });
      }).play();
    </script>

  </body>

</html>
