// Duration.
$fast-transition: 0.2s;
$medium-transition: 0.3s;

// Size.
$left-part-width: 525px;
$left-part-min-width: 473px;
$left-part-half-width: 50%;

// TODO: Let's add needed fonts
// Font properties
$font-family: "Open sans", Helvetica, sans-serif;

// Weight
$font-weight: 400;
$font-weight-bold: 600;

// Site colors
$concrete: #F2F2F2;
$manatee: #959699;
$dove-grey: #6C6C6C;
$nigh-rider: #140F0A;
$picton-blue: #55ACE1;
$butterfly-bush: #505093;

// Main colors
$white: #FFFFFF;
$black: #000000;
